<div class="card">
  <h1>Backend Test Page</h1>
  <p>accessToken: {{accessToken}}</p>
  <paper-button raised on-click="_testWithAccessToken">Test With AccessToken</paper-button>
  <paper-button raised on-click="_testWithoutAccessToken">Test Without AccessToken</paper-button>
  <paper-button raised on-click="_testClear">Clear</paper-button>
  <p>Response from backend-test-1: {{responseBackendTest1}}</p>
  <p>Response from backend-test-2: {{responseBackendTest2}}</p>
  <p>Response from backend-test-3: {{responseBackendTest3}}</p>
</div>